$menu-width: 400px;

html, h1, h2, p, a, img{
	margin:0 auto;
}

.place-holder{
	width:100%;
	height:200px;
}

body{
	overflow: scroll;
	width: 480px;
	height: 700px;
	margin: 20px auto;
	padding: 0px;
	border: 5px solid gray;
	font-family: "Raleway", Arial, sans-serif;
	border-radius:3px;
}

#appWrapper{
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin-bottom:10px;
}

#main-screen {
	position: relative;
	left: 0px;

	&.screen-push {
		left: $menu-width;
	}
}

#header{
	height:80px;
	background-color: #52A2FF;
	overflow:hidden;
	position:relative;
	border-bottom:4px solid #D3D3D3;
	#menu-button{
		display:inline-block;
		float:left;
		position:absolute;
		top: 25px;
		left: 20px;
		height: 5px;
		width: 30px;
		border-bottom: 17px double white;
		border-top: 6px solid white;
		content: "";
	}
	h1{	
		width:auto;
		color:white;
		line-height:80px;
		text-align:center;
		font-weight: 400;
	}
	#search{
		display:inline-block;
		position:absolute;
		top:0;
		right:0;			
		img{
			padding-right:22px;
			padding-top:27px;
			width:26px;
			height:auto;
			float:right;
		}
	}
}

.content-wrapper{
	overflow: scroll;
	height: 100%;
	// This is trickery to hide the scroll bar. We have to push it off the page
	// We need to see what width we'd like it to be. For right now, I assumed a
	// fixed width would be ok -- Patrick
	width: 470px;
	padding:0 25px 0 10px;
}

.list-header{
	display:block;
	overflow:hidden;
	padding:0 10px;
	border-top:2px solid #D3D3D3;
	border-bottom:2px solid #D3D3D3;
	h2{
		display:inline-block;
		line-height: 60px;
		float:left;
	}
	a{
		display:inline-block;
		line-height: 60px;
		float:right;
		color:black;
		text-decoration:none;
		font-size:3em;
		font-weight:200;
	}
}

#lists .list-header{
	border-top:none;
}

#menu {
	position: absolute;
	width: $menu-width;
	height: 100%;
	top: 0;
	left: -1 * $menu-width;
	z-index: 1000;
	background-color: #ECF0F1;

	&.menu-push {
		left: 0px;
	}
}

#menu, #main-screen {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}