@import "compass/css3";
@import "compass/utilities/general/clearfix";

// Standard heights
$menu-width: 400px;
$header-height: 80px;

// Colors
$black: #000;
$light-grey: #d3d3d3;
$lighter-grey: #e9e9e9;
$light-blue: #52A2FF;

// Font family
$raleway: "Raleway", Arial, sans-serif;

html, h1, h2, p, a, img{
	margin:0 auto;
}

.place-holder{
	width:100%;
	height:150px;
	padding: 15px 10px 0 10px;
}

body{
	overflow: scroll;
	width: 480px;
	height: 700px;
	margin: 20px auto;
	padding: 0px;
	border: 5px solid gray;
	font-family: $raleway;
	border-radius:3px;
	background-color: #333;
}

.left {
	float: left;
}

.right {
	float: right;
}

#appWrapper{
	display: block;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
	margin-bottom:10px;
}

#main-screen {
	position: relative;
	left: 0px;
	background-color: #fff;
	&.screen-push {
		left: $menu-width;
	}
}

#header{
	height: $header-height;
	background-color: $light-blue;
	overflow:hidden;
	position:relative;
	border-bottom:4px solid $light-grey;
	text-align: center;
	#menu-button{
		display:inline-block;
		float:left;
		position:absolute;
		top: 25px;
		left: 20px;
		height: 5px;
		width: 30px;
		border-bottom: 17px double white;
		border-top: 6px solid white;
		content: "";
	}
	h1{	
		display: inline;
		cursor: pointer;
		width:auto;
		color:white;
		line-height: $header-height;
		text-align:center;
		font-weight: 400;
	}
	#search{
		display:inline-block;
		position:absolute;
		top:0;
		right:0;			
		img{
			padding-right:22px;
			padding-top:27px;
			width:26px;
			height:auto;
			float:right;
		}
	}
}

.content-wrapper{
	overflow: scroll;
	height: 616px;
	// This is trickery to hide the scroll bar. We have to push it off the page
	// We need to see what width we'd like it to be. For right now, I assumed a
	// fixed width would be ok -- Patrick
	width: 460px;
	padding:0 35px 0 10px;
}

.list-header{
	display:block;
	overflow:hidden;
	padding:0 10px;
	border-top:2px solid $light-grey;
	border-bottom:2px solid $light-grey;
	h2{
		display:inline-block;
		line-height: 60px;
		float:left;
		cursor: pointer;
	}
	a{
		display:inline-block;
		line-height: 60px;
		float:right;
		color:black;
		text-decoration:none;
		font-size:3em;
		font-weight:200;
	}
	&.list-view {
		clear: both;
		border-top: none;
	}
}

#lists {
	.list-header {
		border-top: none;
	}
}

#list {
	.list-object:last-child {
		margin-bottom: 30px;
	}
}

.list {
	margin: 5px 0 30px 0;
	padding: 0;
	list-style: none;
	overflow:hidden;
	display:block;
	&> .list-object:nth-child(even){
		background-color: #f3f3f3;
	}
}

.list-object {
	border-bottom:1px dashed #D3D3D3;
	padding: 10px;
	overflow:hidden;
	display:block;
	a{
		text-align: left;
		color: black;
		text-decoration:none;
		font-size: 1.1em;
	}
	span{
		float:right;
		display: inline-block;
	}
}

.list-controls {
	@include box-sizing(border-box);
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	padding: 15px;
	background-color: $light-grey;
	a {
		text-transform: uppercase;
		text-decoration: none;
		color: $black;
	}
}

.button {
	display: block;
	padding: 10px;
	cursor: pointer;
	background-color: $lighter-grey;
	border: 1px solid $light-grey;
	outline: none;
	font-size: 12px;
	font-weight: 200;
	text-align: center;
	@include border-radius(5px);
}

.group-membership {
	@extend .button;
	margin-top: -5px;
	width: 35px;
	text-align: center;
	&.notMember {
		color: white;
		background-color: green;
	}
	&.member {
		color: white;
		background-color: red;
	}
}

#menu {
	position: absolute;
	width: $menu-width;
	height: 100%;
	top: 0;
	left: -1 * $menu-width;
	z-index: 1000;
	background-color: #ECF0F1;
	padding-top: $header-height;

	&.menu-push {
		left: 0px;
	}

	.menu-item {
		@extend .list-object;
		padding: 20px;
   }
}

#menu, #main-screen {
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.list, .list-object{
	position: relative;
	z-index:0;
}

.item-status{
	width:75px;
	height:20px;
	border-radius:15px;
	text-align: left;
	background-color: green;
	@include transition(background-color, 0.25s, 0.25s);
	position:relative;
	z-index:1;
	.circle{
		border-radius: 50%;
		width: 25px;
		height: 25px; 
		background-color:white;
		border:1px solid gray;
		position:relative;
		top:-3px;
		left:0px;
		display: inline-block;
		@include transition(left, 0.5s);
	}
	&.unpacked {
		background-color: #999999;
	}

	&> .circle {
		left: 48px;
		&.unpacked {
			left: 0px;
		}
	}
}

.unpacked{
	background-color:$light-grey;
}

.packed{
	background-color: #99FF66;
	// text-align:right;
	.circle{
		left:50px;
	}
}

// Form styles
form {
	@include clearfix();
}

label {
	color: $light-blue;
	text-transform: uppercase;
	float: left;
	padding-top: 20px;
	&:first-child {
		padding:0;
	}
}

input[type="text"] {
	float: left;
	clear: both;
	width: 100%;
	padding: 5px;
	border: 1px solid $light-grey;
	font-size: 20px;
	font-family: $raleway;
	@include transition(border, 0.25s);
	&.search {
		display: block;
		float: none;
		width: 440px;
		color: $light-grey;
		margin: 15px 10px 5px 10px;
		&.search-active {
			color: #000;
		}
	}
}

input[type="text"]:focus {
	border: 1px solid $light-blue;
	outline: none;
}

// Modal styles
.ui-dialog {
	display: block;
	padding: 20px;
	background-color: #fff;
	outline: none;
	@include box-shadow(0px 2px 6px #ccc);
	@include transition(0.25s);
	@include clearfix();
}

.ui-dialog-title {
	display: none;
}

.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #aaa;
	@include opacity(0.2);
}

.ui-button {
	@extend .button;
	font-family: "Raleway", Arial, sans-serif;
	font-weight: 400;
	font-size: 14px;
	//text-transform: uppercase; // Not sold on the use of uppercase here...
	float: right;
	margin-left: 10px;
}

// Do we want a close button?
.ui-dialog-titlebar-close {
	display: none; // Turn off to see close button
	position: relative;
	height: 18px;
	width: 18px;
	background-color: $light-blue;
	border-radius: 18px;
	border: none;
	color: white;
	&:before {
		position: absolute;
		top: 2px;
		left: 7px;
		content: 'x';
		font-weight: 700;
		font-size: 13px;
	}
	.ui-button-text {
		font-size: 0px;
	}
}