/* line 1, ../sass/base.scss */
html, h1, h2, p, a, img {
  margin: 0 auto;
}

/* line 5, ../sass/base.scss */
.place-holder {
  width: 100%;
  height: 200px;
}

/* line 10, ../sass/base.scss */
body {
  overflow: scroll;
  width: 480px;
  height: 700px;
  margin: 20px auto;
  padding: 0px;
  border: 5px solid gray;
  font-family: "Raleway", Arial, sans-serif;
  border-radius: 3px;
}

/* line 21, ../sass/base.scss */
#appWrapper {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

/* line 29, ../sass/base.scss */
#header {
  height: 80px;
  background-color: #52A2FF;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #D3D3D3;
}
/* line 35, ../sass/base.scss */
#header #menu {
  display: inline-block;
  float: left;
  position: absolute;
  top: 25px;
  left: 20px;
  height: 5px;
  width: 30px;
  border-bottom: 17px double white;
  border-top: 6px solid white;
  content: "";
}
/* line 47, ../sass/base.scss */
#header h1 {
  width: auto;
  color: white;
  line-height: 80px;
  text-align: center;
  font-weight: 400;
}
/* line 54, ../sass/base.scss */
#header #search {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 59, ../sass/base.scss */
#header #search img {
  padding-right: 22px;
  padding-top: 27px;
  width: 26px;
  height: auto;
  float: right;
}

/* line 69, ../sass/base.scss */
#content-wrapper {
  overflow: scroll;
  height: 100%;
  width: 470px;
  padding: 0 25px 0 10px;
}

/* line 79, ../sass/base.scss */
.list-header {
  display: block;
  overflow: hidden;
  padding: 0 10px;
  border-top: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
}
/* line 85, ../sass/base.scss */
.list-header h2 {
  display: inline-block;
  line-height: 60px;
  float: left;
}
/* line 90, ../sass/base.scss */
.list-header a {
  display: inline-block;
  line-height: 60px;
  float: right;
  color: black;
  text-decoration: none;
  font-size: 3em;
  font-weight: 200;
}

/* line 101, ../sass/base.scss */
#lists .list-header {
  border-top: none;
}
