/* line 17, ../sass/base.scss */
html, h1, h2, p, a, img {
  margin: 0 auto;
}

/* line 21, ../sass/base.scss */
.place-holder {
  width: 100%;
  height: 150px;
  padding: 15px 10px 0 10px;
}

/* line 27, ../sass/base.scss */
body {
  overflow: scroll;
  width: 480px;
  height: 700px;
  margin: 20px auto;
  padding: 0px;
  border: 5px solid gray;
  font-family: "Raleway", Arial, sans-serif;
  border-radius: 3px;
  background-color: #333;
}

/* line 39, ../sass/base.scss */
.left {
  float: left;
}

/* line 43, ../sass/base.scss */
.right {
  float: right;
}

/* line 47, ../sass/base.scss */
#appWrapper {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

/* line 56, ../sass/base.scss */
#main-screen {
  position: relative;
  left: 0px;
  background-color: #fff;
}
/* line 60, ../sass/base.scss */
#main-screen.screen-push {
  left: 400px;
}

/* line 65, ../sass/base.scss */
#header {
  height: 80px;
  background-color: #52a2ff;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid lightgrey;
  text-align: center;
}
/* line 72, ../sass/base.scss */
#header #menu-button {
  display: inline-block;
  float: left;
  position: absolute;
  top: 25px;
  left: 20px;
  height: 5px;
  width: 30px;
  border-bottom: 17px double white;
  border-top: 6px solid white;
  content: "";
}
/* line 84, ../sass/base.scss */
#header h1 {
  display: inline;
  cursor: pointer;
  width: auto;
  color: white;
  line-height: 80px;
  text-align: center;
  font-weight: 400;
}
/* line 93, ../sass/base.scss */
#header #search {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 98, ../sass/base.scss */
#header #search img {
  padding-right: 22px;
  padding-top: 27px;
  width: 26px;
  height: auto;
  float: right;
}

/* line 108, ../sass/base.scss */
.content-wrapper {
  overflow: scroll;
  height: 616px;
  width: 460px;
  padding: 0 35px 0 10px;
}

/* line 118, ../sass/base.scss */
.list-header {
  display: block;
  overflow: hidden;
  padding: 0 10px;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}
/* line 124, ../sass/base.scss */
.list-header h2 {
  display: inline-block;
  line-height: 60px;
  float: left;
  cursor: pointer;
}
/* line 130, ../sass/base.scss */
.list-header a {
  display: inline-block;
  line-height: 60px;
  float: right;
  color: black;
  text-decoration: none;
  font-size: 3em;
  font-weight: 200;
}
/* line 139, ../sass/base.scss */
.list-header.list-view {
  border-top: none;
}

/* line 145, ../sass/base.scss */
#lists .list-header {
  border-top: none;
}

/* line 151, ../sass/base.scss */
#list .list-object:last-child, #list #menu .menu-item:last-child, #menu #list .menu-item:last-child {
  margin-bottom: 30px;
}

/* line 156, ../sass/base.scss */
.list {
  margin: 5px 0 30px 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: block;
}
/* line 162, ../sass/base.scss */
.list > .list-object:nth-child(even), #menu .list > .menu-item:nth-child(even) {
  background-color: #f3f3f3;
}

/* line 167, ../sass/base.scss */
.list-object, #menu .menu-item {
  border-bottom: 1px dashed #D3D3D3;
  padding: 10px;
  overflow: hidden;
  display: block;
}
/* line 172, ../sass/base.scss */
.list-object a, #menu .menu-item a {
  text-align: left;
  color: black;
  text-decoration: none;
  font-size: 1.1em;
}
/* line 178, ../sass/base.scss */
.list-object span, #menu .menu-item span {
  float: right;
  display: inline-block;
}

/* line 184, ../sass/base.scss */
.list-controls {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: lightgrey;
}
/* line 193, ../sass/base.scss */
.list-controls a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/* line 200, ../sass/base.scss */
.button, .group-membership, .ui-button {
  display: block;
  padding: 10px;
  cursor: pointer;
  background-color: #e9e9e9;
  border: 1px solid lightgrey;
  outline: none;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 213, ../sass/base.scss */
.group-membership {
  margin-top: -5px;
  width: 35px;
  text-align: center;
}
/* line 218, ../sass/base.scss */
.group-membership.notMember {
  color: white;
  background-color: green;
}
/* line 222, ../sass/base.scss */
.group-membership.member {
  color: white;
  background-color: red;
}

/* line 228, ../sass/base.scss */
#menu {
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0;
  left: -400px;
  z-index: 1000;
  background-color: #ECF0F1;
  padding-top: 80px;
}
/* line 238, ../sass/base.scss */
#menu.menu-push {
  left: 0px;
}
/* line 242, ../sass/base.scss */
#menu .menu-item {
  padding: 20px;
}

/* line 248, ../sass/base.scss */
#menu, #main-screen {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 254, ../sass/base.scss */
.list, .list-object, #menu .menu-item {
  position: relative;
  z-index: 0;
}

/* line 259, ../sass/base.scss */
.item-status {
  width: 75px;
  height: 20px;
  border-radius: 15px;
  text-align: left;
  background-color: green;
  -webkit-transition: background-color, 0.25s, 0.25s;
  -moz-transition: background-color, 0.25s, 0.25s;
  -o-transition: background-color, 0.25s, 0.25s;
  transition: background-color, 0.25s, 0.25s;
  position: relative;
  z-index: 1;
}
/* line 268, ../sass/base.scss */
.item-status .circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid gray;
  position: relative;
  top: -3px;
  left: 0px;
  display: inline-block;
  -webkit-transition: left, 0.5s;
  -moz-transition: left, 0.5s;
  -o-transition: left, 0.5s;
  transition: left, 0.5s;
}
/* line 280, ../sass/base.scss */
.item-status.unpacked {
  background-color: #999999;
}
/* line 284, ../sass/base.scss */
.item-status > .circle {
  left: 48px;
}
/* line 286, ../sass/base.scss */
.item-status > .circle.unpacked {
  left: 0px;
}

/* line 292, ../sass/base.scss */
.unpacked {
  background-color: lightgrey;
}

/* line 296, ../sass/base.scss */
.packed {
  background-color: #99FF66;
}
/* line 299, ../sass/base.scss */
.packed .circle {
  left: 50px;
}

/* line 305, ../sass/base.scss */
form {
  overflow: hidden;
  *zoom: 1;
}

/* line 309, ../sass/base.scss */
label {
  color: #52a2ff;
  text-transform: uppercase;
  float: left;
  padding-top: 20px;
}
/* line 314, ../sass/base.scss */
label:first-child {
  padding: 0;
}

/* line 319, ../sass/base.scss */
input[type="text"] {
  float: left;
  clear: both;
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
  font-size: 20px;
  font-family: "Raleway", Arial, sans-serif;
  -webkit-transition: border, 0.25s;
  -moz-transition: border, 0.25s;
  -o-transition: border, 0.25s;
  transition: border, 0.25s;
}

/* line 330, ../sass/base.scss */
input[type="text"]:focus {
  border: 1px solid #52a2ff;
  outline: none;
}

/* line 336, ../sass/base.scss */
.ui-dialog {
  display: block;
  padding: 20px;
  background-color: #fff;
  outline: none;
  -webkit-box-shadow: 0px 2px 6px #cccccc;
  -moz-box-shadow: 0px 2px 6px #cccccc;
  box-shadow: 0px 2px 6px #cccccc;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  overflow: hidden;
  *zoom: 1;
}

/* line 346, ../sass/base.scss */
.ui-dialog-title {
  display: none;
}

/* line 350, ../sass/base.scss */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  opacity: 0.2;
}

/* line 360, ../sass/base.scss */
.ui-button {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  float: right;
  margin-left: 10px;
}

/* line 371, ../sass/base.scss */
.ui-dialog-titlebar-close {
  display: none;
  position: relative;
  height: 18px;
  width: 18px;
  background-color: #52a2ff;
  border-radius: 18px;
  border: none;
  color: white;
}
/* line 380, ../sass/base.scss */
.ui-dialog-titlebar-close:before {
  position: absolute;
  top: 2px;
  left: 7px;
  content: 'x';
  font-weight: 700;
  font-size: 13px;
}
/* line 388, ../sass/base.scss */
.ui-dialog-titlebar-close .ui-button-text {
  font-size: 0px;
}
