/* line 3, ../sass/base.scss */
html, h1, h2, p, a, img {
  margin: 0 auto;
}

/* line 7, ../sass/base.scss */
.place-holder {
  width: 100%;
  height: 200px;
}

/* line 12, ../sass/base.scss */
body {
  overflow: scroll;
  width: 480px;
  height: 700px;
  margin: 20px auto;
  padding: 0px;
  border: 5px solid gray;
  font-family: "Raleway", Arial, sans-serif;
  border-radius: 3px;
}

/* line 23, ../sass/base.scss */
#appWrapper {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

/* line 32, ../sass/base.scss */
#main-screen {
  position: relative;
  left: 0px;
}
/* line 36, ../sass/base.scss */
#main-screen.screen-push {
  left: 400px;
}

/* line 41, ../sass/base.scss */
#header {
  height: 80px;
  background-color: #52A2FF;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid #D3D3D3;
}
/* line 47, ../sass/base.scss */
#header #menu-button {
  display: inline-block;
  float: left;
  position: absolute;
  top: 25px;
  left: 20px;
  height: 5px;
  width: 30px;
  border-bottom: 17px double white;
  border-top: 6px solid white;
  content: "";
}
/* line 59, ../sass/base.scss */
#header h1 {
  width: auto;
  color: white;
  line-height: 80px;
  text-align: center;
  font-weight: 400;
}
/* line 66, ../sass/base.scss */
#header #search {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 71, ../sass/base.scss */
#header #search img {
  padding-right: 22px;
  padding-top: 27px;
  width: 26px;
  height: auto;
  float: right;
}

/* line 81, ../sass/base.scss */
#content-wrapper {
  overflow: scroll;
  height: 100%;
  width: 460px;
  padding: 0 35px 0 10px;
}

/* line 91, ../sass/base.scss */
.list-header {
  display: block;
  overflow: hidden;
  padding: 0 10px;
  border-top: 2px solid #D3D3D3;
  border-bottom: 2px solid #D3D3D3;
}
/* line 97, ../sass/base.scss */
.list-header h2 {
  display: inline-block;
  line-height: 60px;
  float: left;
}
/* line 102, ../sass/base.scss */
.list-header a {
  display: inline-block;
  line-height: 60px;
  float: right;
  color: black;
  text-decoration: none;
  font-size: 3em;
  font-weight: 200;
}

/* line 113, ../sass/base.scss */
#lists .list-header {
  border-top: none;
}

/* line 117, ../sass/base.scss */
.list {
  margin: 5px 0 20px 0;
  padding: 0;
  list-style: none;
}

/* line 123, ../sass/base.scss */
.list-object {
  padding: 10px;
}

/* line 127, ../sass/base.scss */
#menu {
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0;
  left: -400px;
  z-index: 1000;
  background-color: #ECF0F1;
}
/* line 136, ../sass/base.scss */
#menu.menu-push {
  left: 0px;
}

/* line 141, ../sass/base.scss */
#menu, #main-screen {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
