/* line 12, ../sass/base.scss */
html, h1, h2, p, a, img {
  margin: 0 auto;
}

/* line 16, ../sass/base.scss */
.place-holder {
  width: 100%;
  height: 200px;
}

/* line 21, ../sass/base.scss */
body {
  overflow: scroll;
  width: 480px;
  height: 700px;
  margin: 20px auto;
  padding: 0px;
  border: 5px solid gray;
  font-family: "Raleway", Arial, sans-serif;
  border-radius: 3px;
}

/* line 32, ../sass/base.scss */
.left {
  float: left;
}

/* line 36, ../sass/base.scss */
.right {
  float: right;
}

/* line 40, ../sass/base.scss */
#appWrapper {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}

/* line 49, ../sass/base.scss */
#main-screen {
  position: relative;
  left: 0px;
}
/* line 53, ../sass/base.scss */
#main-screen.screen-push {
  left: 400px;
}

/* line 58, ../sass/base.scss */
#header {
  height: 80px;
  background-color: #52a2ff;
  overflow: hidden;
  position: relative;
  border-bottom: 4px solid lightgrey;
}
/* line 64, ../sass/base.scss */
#header #menu-button {
  display: inline-block;
  float: left;
  position: absolute;
  top: 25px;
  left: 20px;
  height: 5px;
  width: 30px;
  border-bottom: 17px double white;
  border-top: 6px solid white;
  content: "";
}
/* line 76, ../sass/base.scss */
#header h1 {
  width: auto;
  color: white;
  line-height: 80px;
  text-align: center;
  font-weight: 400;
}
/* line 83, ../sass/base.scss */
#header #search {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 88, ../sass/base.scss */
#header #search img {
  padding-right: 22px;
  padding-top: 27px;
  width: 26px;
  height: auto;
  float: right;
}

/* line 98, ../sass/base.scss */
.content-wrapper {
  overflow: scroll;
  height: 616px;
  width: 460px;
  padding: 0 35px 0 10px;
}

/* line 108, ../sass/base.scss */
.list-header {
  display: block;
  overflow: hidden;
  padding: 0 10px;
  border-top: 2px solid lightgrey;
  border-bottom: 2px solid lightgrey;
}
/* line 114, ../sass/base.scss */
.list-header h2 {
  display: inline-block;
  line-height: 60px;
  float: left;
  cursor: pointer;
}
/* line 120, ../sass/base.scss */
.list-header a {
  display: inline-block;
  line-height: 60px;
  float: right;
  color: black;
  text-decoration: none;
  font-size: 3em;
  font-weight: 200;
}
/* line 129, ../sass/base.scss */
.list-header.list-view {
  border-top: none;
}

/* line 135, ../sass/base.scss */
#lists .list-header {
  border-top: none;
}

/* line 141, ../sass/base.scss */
#list .list-object:last-child, #list #menu .menu-item:last-child, #menu #list .menu-item:last-child {
  margin-bottom: 30px;
}

/* line 146, ../sass/base.scss */
.list {
  margin: 5px 0 30px 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  display: block;
}

/* line 154, ../sass/base.scss */
.list-object, #menu .menu-item {
  border-bottom: 1px dashed #D3D3D3;
  padding: 10px;
  overflow: hidden;
  display: block;
}
/* line 159, ../sass/base.scss */
.list-object a, #menu .menu-item a {
  text-align: left;
  color: black;
  text-decoration: none;
  font-size: 1.1em;
}
/* line 165, ../sass/base.scss */
.list-object span, #menu .menu-item span {
  float: right;
  display: inline-block;
}

/* line 171, ../sass/base.scss */
.list-controls {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50px;
  padding: 15px;
  background-color: lightgrey;
}
/* line 180, ../sass/base.scss */
.list-controls a {
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

/* line 187, ../sass/base.scss */
.button, .group-membership {
  display: block;
  padding: 10px;
  cursor: pointer;
  border: 1px solid lightgrey;
  font-size: 12px;
  font-weight: 200;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 198, ../sass/base.scss */
.group-membership {
  margin-top: -25px;
  margin-bottom: -5px;
}
/* line 202, ../sass/base.scss */
.group-membership.notMember {
  color: white;
  background-color: green;
}
/* line 206, ../sass/base.scss */
.group-membership.member {
  color: white;
  background-color: red;
}

/* line 212, ../sass/base.scss */
#menu {
  position: absolute;
  width: 400px;
  height: 100%;
  top: 0;
  left: -400px;
  z-index: 1000;
  background-color: #ECF0F1;
  padding-top: 80px;
}
/* line 222, ../sass/base.scss */
#menu.menu-push {
  left: 0px;
}
/* line 226, ../sass/base.scss */
#menu .menu-item {
  padding: 20px;
}

/* line 232, ../sass/base.scss */
#menu, #main-screen {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 238, ../sass/base.scss */
.list, .list-object, #menu .menu-item {
  position: relative;
  z-index: 0;
}

/* line 243, ../sass/base.scss */
.item-status {
  width: 75px;
  height: 20px;
  border-radius: 15px;
  text-align: left;
  -webkit-transition: background-color 0.25s 0.25s;
  transition: background-color 0.25s 0.25s;
  position: relative;
  z-index: 1;
}
/* line 252, ../sass/base.scss */
.item-status .circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid gray;
  position: relative;
  top: -3px;
  left: 0px;
  display: inline-block;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

/* line 268, ../sass/base.scss */
.list > .list-object:nth-child(even), #menu .list > .menu-item:nth-child(even) {
  background-color: #f3f3f3;
}

/* line 272, ../sass/base.scss */
.unpacked {
  background-color: lightgrey;
}

/* line 276, ../sass/base.scss */
.packed {
  background-color: #99FF66;
}
/* line 279, ../sass/base.scss */
.packed .circle {
  left: 50px;
}
